<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div th:replace="/parts/navbar::navbar"></div>

    <h1 th:text="'All notes: ' + ${noteList.size()}"></h1>
    <table class="table table-light table-striped" style="width:100%">
        <thead>
        <tr>
            <th scope="col" style="width:15%">Title</th>
            <th scope="col" style="width:55%">Content</th>
            <th scope="col" style="width:55%">Access</th>
            <th scope="col" style="width:10%">Edit</th>
            <th scope="col" style="width:10%">Delete</th>
            <th scope="col" style="width:10%">Share</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${noteList}">
            <td><span th:text="${note.getTitle()}"> </span></td>
            <td><span th:text="${note.getContent()}"> </span></td>
            <td><span th:text="${note.getAccessType()}"> </span></td>
            <td>
                <form th:action="@{/note/edit/}">
                    <input type="hidden" name="id" th:value="${note.id}" />
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{/note/delete/}" method="post">
                    <input type="hidden" name="id" th:value="${note.id}" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{/note/share/}">
                    <input type="hidden" name="id" th:value="${note.id}" />
                    <button type="submit" class="btn btn-primary">Share</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table></br>
    <form action="/note/add">
        <button type="submit" class="btn btn-outline-success" href="/note/add">Add new note</button>
    </form>
</div>

<div th:replace="/parts/bootstrapJS::bootstrapJS"></div>
</body>
</html>