<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note Share</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body style="background-color: #f1f1f1; display: flex; align-items: center; justify-content: center;">
<div class="container">
    <h2 class="text-center my-4">Share Note</h2>
    <form th:action="@{/note/share}" method="post" th:object="${note}">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${note.title}" readonly>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" rows="6" readonly th:text="${note.content}"></textarea>
        </div>
    </form>
</div>
<div th:replace="/parts/bootstrapJS::bootstrapJS"></div>
</body>
</html>